ion-content {
  --overflow: hidden;
}

ion-select {
  background-color: var(--ion-color-light);
  &.hasVarious {
    color: white;
    background-color: var(--ion-color-dark);
  }
}

.delivery {
  --padding-start: 10px;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  ion-select {
    background-color: transparent;
    --padding-start: 0;
    --padding-end: 5px;
  }
}

#table-header {
  .action-buttons {
    ion-button {
      margin-left: 5px;
      --padding-start: 20px;
      --padding-end: 20px;
    }
  }
  .show-tables {
    --padding-start: 20px;
    --padding-end: 20px;
    text-transform: initial;
  }
}

#table {
  display: flex;
  height: 100%;
  .bill {
    width: 140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    ion-checkbox {
      margin-right: 5px;
    }
    .articles {
      flex: 1;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      .article {
        --padding-start: 8px;
        .inner-article {
          width: 100%;
          padding: 8px 0;
          .name {
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .article-infos {
            padding-left: 10px;
            font-style: italic;
          }
          .price {
            margin-left: 20px;
            width: 35px;
            text-align: right;
          }
        }
      }
    }
    .taxes {
      display: flex;
      flex-direction: row;
      border-top: 1px solid #d8d8d8;
      ion-item {
        flex: 1;
        --padding-start: 10px;
        font-size: 15px;
        ion-checkbox {
          margin-right: 8px;
        }
        ion-label {
          margin-right: 0;
          span {
            float: right;
            color: gray;
          }
        }
        &.service {
          border-right: 1px solid var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-250,#c8c7cc)));
        }
      }
    }
    .total {
      font-size: 22px;
      font-weight: bold;
      --padding-bottom: 3px;
      --padding-top: 3px;
      .nb {
        float: right;
      }
    }
  }
  .choosing-articles {
    overflow: hidden;
    background-color: var(--ion-color-light);
    flex: 1;
    display: flex;
    flex-direction: column;
    #articles-list {
      border-left: 1px solid var(--ion-color-medium);
      flex: 1;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      .category {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ion-list {
          width: 49%;
        }
      }
      ion-item-divider {
        text-transform: capitalize;
      }
    }
    .categories {
      height: 137px;
      background-color: var(--ion-color-medium);
      ion-button {
        --border-radius: 0;
        margin: 0;
        width: 33.333%;
        margin-bottom: 1px;
        text-transform: capitalize;
      }
    }
  }
}
