<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-button expand='full' (click)='updateMenu()'>Actualizar el menu</ion-button>
  <br><br>
  <!-- <ion-button expand='full' (click)='forceReconnectionToServer()'>Conectarse al iPad</ion-button>
  <br><br>
  <ion-button expand='full' (click)='playSound("pizza")'>Play pizza</ion-button>
  <br><br>
  <ion-button expand='full' (click)='playSound("bar")'>Play bar</ion-button>
  <br><br>
  <ion-button expand='full' (click)='playSound("kitchen")'>Play kitchen</ion-button>
  <br><br> -->
</ion-content>
