<ion-header id='table-header'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Casa Azul V2</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf='tables' class='disposition'>
    <div class='tables'>
      <div class='beach-texture'>
        <div class='beach'>
          <div class='mesa-zero'>
            <ion-button class='height-100' [color]='getTableColor(0)' (click)='openTable(0)'>0</ion-button>
          </div>
          <div class='flex-1'>
            <div class='top-tables space-evenly'>
              <ion-button [color]='getTableColor(1)' (click)='openTable(1)'>1</ion-button>
              <ion-button [color]='getTableColor(2)' (click)='openTable(2)'>2</ion-button>
              <ion-button [color]='getTableColor(3)' (click)='openTable(3)'>3</ion-button>
              <ion-button [color]='getTableColor(4)' (click)='openTable(4)'>4</ion-button>
              <ion-button [color]='getTableColor(5)' (click)='openTable(5)'>5</ion-button>
              <ion-button [color]='getTableColor(6)' (click)='openTable(6)'>6</ion-button>
              <ion-button [color]='getTableColor(7)' (click)='openTable(7)'>7</ion-button>
            </div>
            <div class='space-evenly'>
              <ion-button [color]='getTableColor(8)' (click)='openTable(8)'>8</ion-button>
              <ion-button [color]='getTableColor(9)' (click)='openTable(9)'>9</ion-button>
              <ion-button [color]='getTableColor(10)' (click)='openTable(10)'>10</ion-button>
              <ion-button class='double' [color]='getTableColor(11)' (click)='openTable(11)'>11</ion-button>
              <ion-button [color]='getTableColor(12)' (click)='openTable(12)'>12</ion-button>
              <ion-button [color]='getTableColor(13)' (click)='openTable(13)'>14</ion-button>
            </div>
          </div>
        </div>
      </div>
      <div class='inside-texture'>
        <div class='inside'>
          <div class='mesa-zero'>
            <ion-button [color]='getTableColor(14)' (click)='openTable(14)' class='height-100'>0</ion-button>
          </div>
          <div class='flex-1'>
            <div class='top-tables space-evenly'>
              <ion-button [color]='getTableColor(19)' (click)='openTable(19)'>5</ion-button>
              <ion-button [color]='getTableColor(20)' (click)='openTable(20)'>6</ion-button>
              <ion-button [color]='getTableColor(21)' (click)='openTable(21)'>7</ion-button>
              <ion-button [color]='getTableColor(22)' (click)='openTable(22)'>8</ion-button>
              <ion-button [color]='getTableColor(23)' (click)='openTable(23)'>9</ion-button>
            </div>
            <div class='space-evenly'>
              <ion-button [color]='getTableColor(15)' (click)='openTable(15)'>1</ion-button>
              <ion-button [color]='getTableColor(16)' (click)='openTable(16)'>2</ion-button>
              <ion-button [color]='getTableColor(17)' (click)='openTable(17)'>3</ion-button>
              <ion-button [color]='getTableColor(18)' (click)='openTable(18)' class='double'>4</ion-button>
            </div>
          </div>
        </div>
      </div>
      <div class='llevar'>
        <ion-button [color]='getTableColor(30)' (click)='openTable(30)'>Bar</ion-button>
        <ion-button [color]='getTableColor(31)' (click)='openTable(31)'>Komida</ion-button>
        <ion-button [color]='getTableColor(32)' (click)='openTable(32)'>Fito</ion-button>
        <ion-button [color]='getTableColor(33)' (click)='openTable(33)'>Para llevar</ion-button>
        <ion-button (click)='openOverview()'>Pedidos en curso</ion-button>
      </div>
    </div>
    <div class='extra-tables'>
      <ion-button [color]='getTableColor(24)' (click)='openTable(24)'>15</ion-button>
      <ion-button [color]='getTableColor(25)' (click)='openTable(25)'>16</ion-button>
      <ion-button [color]='getTableColor(26)' (click)='openTable(26)'>17</ion-button>
      <ion-button [color]='getTableColor(27)' (click)='openTable(27)'>18</ion-button>
      <ion-button [color]='getTableColor(28)' (click)='openTable(28)'>19</ion-button>
      <ion-button [color]='getTableColor(29)' (click)='openTable(29)'>20</ion-button>
      <img style='width: 80px;position: absolute;bottom: 4px;' src='../../assets/seb.png' />
    </div>
  </div>
</ion-content>
