ion-content {
  --overflow: hidden;
}

.new-batch {
  border: 5px solid red;
}

.delete-bill {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 52px;
  margin: 0;
  padding: 0;
  width: 56px;
  z-index: 100;
  background-color: #a81c1c;
  color: white;
  font-size: 30px;
  line-height: 57px;
  text-align: center;
}

.total-label {
  padding-left: 54px;
}

.show-tables {
  --padding-start: 20px;
  --padding-end: 20px;
  text-transform: initial;
}

.condensed-bills {
  display: flex;
  flex-wrap: wrap;
  ion-card {
    flex: 1 0 18%;
    margin: 10px 2px;
    ion-card-content {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .quantity {
    width: 40px;
    margin-right: 10px;
    text-align: right;
  }
  .bill {
    border: 2px solid lightsteelblue;
    border-radius: 0;
    min-width: 32%;
    max-width: 33%;
    &.sent {
      border-color: var(--ion-color-success);
    }
    &.history {
      border-color: var(--ion-color-warning);
    }
  }
}

.bill-name {
  padding-left: 40px;
  padding-right: 40px;
  width: 278px;
  position: relative;
  text-align: center;
  ion-button {
    position: absolute;
    right: 0;
    top: -7px;
  }
}

.change-table-button {
  position: absolute;
  top: -3px;
  font-size: 15px;
}

#table-header {
  .action-buttons {
    ion-button {
      margin-left: 5px;
      --padding-start: 20px;
      --padding-end: 20px;
    }
  }
  .history-button {
    margin-right: 40px;
  }
}

#table {
  display: flex;
  height: 100%;
  .bill {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .articles {
      flex: 1;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      .article {
        --padding-start: 8px;
        .inner-article {
          width: 100%;
          display: flex;
          padding: 8px 0; 
          .left-side {
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1;
            .name {
              font-weight: bold;
            }
            .article-infos {
              padding-left: 10px;
              font-style: italic;
            }
          }
          .price {
            margin-left: 20px;
            //width: 35px;
            text-align: right;
          }
        }
      }
    }
    .taxes {
      display: flex;
      flex-direction: row;
      border-top: 1px solid #d8d8d8;
      ion-item {
        flex: 1;
        --padding-start: 10px;
        font-size: 15px;
        ion-checkbox {
          margin-right: 8px;
        }
        ion-label {
          margin-right: 0;
          span {
            float: right;
            color: gray;
          }
        }
        &.service {
          border-right: 1px solid var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-250,#c8c7cc)));
        }
      }
    }
    .total {
      font-size: 22px;
      font-weight: bold;
      --padding-bottom: 3px;
      --padding-top: 3px;
      .nb {
        float: right;
      }
    }
  }
  .choosing-articles {
    background-color: var(--ion-color-light);
    flex: 1;
    display: flex;
    flex-direction: column;
    #articles-list {
      border-left: 1px solid var(--ion-color-medium);
      flex: 1;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      .category {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ion-list {
          width: 40%;
        }
      }
      ion-item-divider {
        text-transform: capitalize;
      }
    }
    .categories {
      background-color: var(--ion-color-medium);
      display: flex;
      ion-button {
        --border-radius: 0;
        margin: 0;
        text-transform: capitalize;
        flex: 1;
        border-left: 1px solid var(--ion-color-medium);
      }
      ion-button:first-child {
        border-left: 0;
      }
    }
  }
}
