<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Total del dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf='data'>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total del dia</ion-card-subtitle>
      <ion-card-title>Mercredi 25 Janvier</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Total</ion-label>
          <span slot="end">{{data.total}}</span>
        </ion-item>
        <ion-item>
          <ion-label>10%</ion-label>
          <span slot="end">{{data.service}}</span>
        </ion-item>
        <ion-item>
          <ion-label>Total + 10%</ion-label>
          <span slot="end">{{data.total + data.service}}</span>
        </ion-item>
        <ion-item>
          <ion-label>Mesas abiertas</ion-label>
          <span slot="end">{{data.openedTables}}</span>
        </ion-item>
      </ion-list>
      <ion-button expand='full' (click)='closeSession()'>Cerrar session</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
