<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
    <ion-buttons slot="end">
      <ion-button color='success' (click)='toggleHistory()'>Pedidos listos</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf='menu && orders'>
  <div class='orders'>
    <ion-card *ngFor='let order of orders;' (click)='select(order)' [class.dark]='order.state == OrderStateEnum["selected"]' [class.primary]='order.state == OrderStateEnum["preparing"]' [class.success]='order.state == OrderStateEnum["ready"]'>
      <ion-card-header>
        <ion-card-subtitle style='text-transform: initial;'>{{order.waiterName}} - {{order.readyIn}}min</ion-card-subtitle>
        <ion-card-title>{{order.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor='let article of order.articles; let i = index' class='article'>
          <div class='quantity'>{{ article.q }}</div>
          <div>
            {{ menu.articles[article.ami].name}}
            <div *ngFor='let ingredientIndex of article.pii;'>
              MAS {{menu.ingredients[ingredientIndex].name}}
            </div>
            <div *ngFor='let ingredientIndex of article.mii;'>
              SIN {{menu.ingredients[ingredientIndex].name}}
            </div>
            <div *ngIf='article.half && article.half.ami != null'>
              Mitad {{menu.articles[article.half.ami].name}}
              <div *ngFor='let ingredientIndex of article.half.pii;'>
                MAS {{menu.ingredients[ingredientIndex].name}}
              </div>
              <div *ngFor='let ingredientIndex of article.half.mii;'>
                SIN {{menu.ingredients[ingredientIndex].name}}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf='order.otherArticles && order.otherArticles.length'>
          <ion-item-divider color='medium' class='ion-text-center' (click)='order.otherArticlesOpened = !order.otherArticlesOpened;$event.stopPropagation();'>
            <ion-label>{{user?.device.slug == "pizza" ? 'Cocina' : 'Pizza'}}</ion-label>
          </ion-item-divider>
          <div [hidden]='!order.otherArticlesOpened'>
            <div *ngFor='let article of order.otherArticles; let i = index' class='article'>
              <div class='quantity'>{{ article.q }}</div>
              <div>{{menu.articles[article.ami].name}}</div>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer [hidden]='isShowingHistory'>
  <div class='flex'>
    <div style='width:50%'>
      <ion-button [hidden]='isPreparing' color='primary' expand='full' (click)='prepareOrders()'>Preparar</ion-button>
    </div>
    <div style='width:50%'>
      <ion-button [hidden]='!isPreparing' color='success' expand='full' (click)='itsReady()'>Listo</ion-button>
    </div>
  </div>
</ion-footer>
<ion-footer *ngIf='isShowingHistory'>
  <div class='flex'>
    <div style='width:50%'>
      <ion-button [hidden]='!history[historyIndex-1]' color='success' expand='full' (click)='historyFront()'><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-button>
    </div>
    <div style='width:50%'>
      <ion-button [hidden]='!history[historyIndex+1]' color='success' expand='full' (click)='historyBack()'><ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
    </div>
  </div>
</ion-footer>
