.article {
  color: black;
  display: flex;
  padding: 2px 15px;
  .quantity {
    margin-right: 10px;
  }
  background-color: white;
}
ion-item-divider {
  margin-top: 15px;
  margin-bottom: 15px;
}
.orders {
  display: flex;
  flex-wrap: wrap;
  ion-card {
    flex: 1 0 18%;
    margin: 10px 2px;
    ion-card-content {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
