.width-100 {
  width: 100%!important;
}

.height-100 {
  height: 100%!important;
}

.click-effect:active {
  --ion-background-color: #e9e9e9!important;
  background-color: #e9e9e9!important;
}

.flex-1 {
  flex:1!important;
}

.flex-wrap {
  flex-wrap:wrap!important;
}

.space-evenly {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}